
@{
    ViewBag.Title = "CreatePermiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 100%;">
    <h2>Asignerle Permisos al Rol</h2>

    @Html.Partial("ViewPermiso", (Object)ViewBag.Permisos, new ViewDataDictionary { { "id", (int)ViewBag.Id } })

    <div>
        @Html.ActionLink("Volver", "Index")
    </div>
</div>