@{
    ViewBag.Title = "HOME";
}


<div class="text-center" style="max-height:inherit">
    <img src="~/Resources/Images/what-crm-banner-img.svg" class="img-fluid" alt="Responsive image" style="height: 50rem; padding-top: 6rem;">
</div>

<style>
    .content {
        display: none;
    }
</style>

@if (!ViewBag.Estado.Equals("Autorizado"))
{
    <script>
        alert("No estas Autorizado para esta Acción");
    </script>
}