@{
    ViewBag.Title = "HOME";
}


<div class="text-center" style="max-height:inherit">
    <img src="~/Resources/Images/what-crm-banner-img.svg" class="img-fluid" alt="Responsive image" style="height: 50rem; padding-top: 6rem;">
</div>

<style>
    .content {
        display: none;
    }
</style>
@*<div id="LoginPrincipal">
    <h2>Login</h2>
    <br />
    <h3>Bienvenido al sistema CRM para gestión de su negocio </h3>

    <img src="@Url.Content("~/Imagenes/PalmerCodes.png")" width="280px" height="280px" alt="imgf" />

    <h4>Iniciar Sesión</h4>
    <br />
    <br />
    <div class="form-group">
        <label for="exampleDropdownFormEmail1">Correo</label>
        <input type="text" class="form-control" id="email" placeholder="correo@example.com">
    </div>
    <div class="form-group">
        <label for="exampleDropdownFormPassword1">Contraseña</label>
        <input type="password" class="form-control" id="pass" placeholder="Contraseña">
    </div>
    <button id="Login" class="btn btn-primary">Ingresar</button>
</div>
<div id="bienvenido" class="hide">

</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            
            validarsesion();
            $("#Login").on("click", function () {
                var Correo = $('#email').val()
                var Pass = $('#pass').val() 
                $.ajax({
                    url: "/Usuarios/Logeo/",
                    method: "GET",
                    data: { email: Correo , contraseña: Pass },
                    success: function (data) {
                        if (data == 'False') {
                            alert('Datos incorrectos');
                        } else {
                            alert('Bienvenido');
                            $('#Menu').removeClass('hide')
                            $('#LoginPrincipal').addClass('hide') 
                            $('#bienvenido').removeClass('hide') 
                            sessionStorage.setItem('inicio', 'yes');
                        }
                    }, failed: function (data) {
                    }
                });
            });
            function validarsesion(){
                var data = sessionStorage.getItem('inicio');
                console.log(data)
                if (data == 'yes') {
                    $('#Menu').removeClass('hide')
                    $('#LoginPrincipal').addClass('hide')
                    $('#bienvenido').removeClass('hide') 
                } else {
                    $('#Menu').addClass('hide')
                }          
            };
        });
    </script>
}*@