@model IEnumerable<C_R_M.Models.ServicioEmpresa>

@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/css-datatables")
    <style>
        .ml-1 {
            margin-left: 3px;
        }
    </style>
}



    <h2>Servicios vendidos</h2>
    <p>
        <a href="@Url.Action("Create")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Crear Nuevo</a>
    </p>
    <br />
    <div style=" margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id_Servicio_Empresa</th>
                    <th>Descripción</th>
                    <th>Creación</th>
                    <th>Primer Pago</th>
                    <th>Renovación</th>
                    <th>Precio</th>
                    <th>Empresa</th>
                    <th>Producto</th>
                    <th>Opciones</th>
                </tr>
            </thead>
        </table>
    </div>


@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $("#demoGrid").DataTable({
                "language": {
                    "url": "@Url.Content("/Resources/Spanish.json")"
                },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],

                "ajax": {
                    "url": "/ServicioEmpresas/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "sortable": false,
                        "searchable": false
                    }, {
                            "targets": [8],
                            "visible": true,
                            "sortable": false,
                            "searchable": false
                        }],

                "columns": [
                    { "data": "Id_Servicio_Empresa", "name": "Id_Servicio_Empresa", "autoWidth": true },
                    { "data": "Descripcion", "name": "Descripcion", "autoWidth": true },
                    { "data": "Fecha_Creacion", "name": "Fecha_Creacion", "autoWidth": true },
                    { "data": "Primer_Pago", "name": "Primer_Pago", "autoWidth": true },
                    { "data": "Renovacion", "name": "Renovacion", "autoWidth": true },
                    { "data": "Precio", "name": "Precio", "autoWidth": true },
                    { "data": "Empresa.Nombre", "name": "Empresa.Nombre", "autoWidth": true },
                    { "data": "Producto.Nombre", "name": "Producto.Nombre", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-info ml-1" href="/Cuentas/Index/?&id=' + full.Id_Servicio_Empresa + '&tipo=1">Ver Cuentas</a><a class="btn btn-info ml-1" href="/ServicioEmpresas/Details/' + full.Id_Servicio_Empresa + '"><i class="fa fa-info-circle"></i></a><a class="btn btn-success ml-1" href="/ServicioEmpresas/Edit/' + full.Id_Servicio_Empresa + '"><i class="fa fa-edit  fa-lg"></i></a><a class="btn btn-danger ml-1" href="/ServicioEmpresas/Delete/' + full.Id_Servicio_Empresa + '"><i class="fa fa-trash fa-lg"></i></a>';
                        }
                    }
                ]

            });
        });</script>
}
